:root {
  --cor1: #000;
  --cor2: #2e2e2e;
  --cor3: #f8d33b;
  --cor4: #ffffe7;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(/assets/fonts/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.m-10 {
  margin: 10px;
}

h1 {
  font-size: 3em;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

#page {
  max-width: 1090px;
  width: 100%;
  margin: 20px auto;
  background-color: var(--cor2);
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
}

section {
  background-color: transparent;
  min-height: 300px;
  position: relative;
  padding: 50px;
}

section .legenda {
  width: 320px;
  height: 60px;
  border-radius: 12px;
  background-color: var(--cor3);
  padding-left: 15px;
  line-height: 68px;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  top: -38px;
  left: calc(50% - 160px);
  text-align: center;
}

#about {
  width: 100%;
  padding: 0;
}

#about,
#experiences {
  background-color: var(--cor1);
  min-height: 300px;
  display: flex;
}

#about .profile img {
  max-width: 400px;
}

#about .introduction {
  color: var(--cor4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
  padding: 40px;
}

#about .introduction > h1 {
  color: var(--cor3);
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#contact {
  width: 30%;
  text-align: center;
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: var(--cor4);
  padding: 30px;
  border: 2px solid var(--cor3);
  border-left: none;
}

#contact > * {
  padding: 10px;
}

#contact > h3,
#contact label {
  color: var(--cor3);
  margin: 10px;
  display: inline-block;
  width: 100%;
}

#contact a,
#contact a:visited {
  color: var(--cor4);
}

#education {
  width: 70%;
  border: 2px solid var(--cor3);
  border-right: none;
}

#education > .legenda {
  left: auto;
  text-align: center;
  width: 320px;
}

#education ul {
  display: flex;
  flex-wrap: wrap;
}

#education ul li {
  min-width: 200px;
  max-width: 250px;
}

section li {
  margin: 25px;
}

section li > h4 {
  color: var(--cor4);
  margin-bottom: 15px;
}

section li > h5 {
  color: var(--cor3);
}

section li > h6 {
  color: var(--cor4);
}

#experiences ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

#experiences ul li {
  width: calc(33% - 45px);
  padding: 5px;
  min-width: 250px;
}

#skills {
  width: 100%;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

#skills ul > li {
  height: 130px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-weight: bold;
  justify-content: space-evenly;
}
